# folders
.sisyphus/
/myproject/
/another/
/multiple/
tests/cli/myproject
tests/cli/another
tests/cli/multiple
*.egg-info/
.hypothesis/
.idea/
.mypy_cache/
.pytest_cache/
.scannerwork/
.tox/
.venv/
venv/
.vscode/
__pycache__/
virtualenv/
build/
dist/
node_modules/
results/
site/
site_lang/
target/
.spec-workflow/

# files
TEMP.md
**/AGENTS.md
**/*.so
**/*.sqlite
*.iml
**/*_test*
.DS_Store
.coverage
.coverage.*
.python-version
coverage.*
example.sqlite
*.zip
