site_name: Lilya
site_description: The ASGI toolkit that delivers.
site_url: https://lilya.dev

theme:
  name: "material"
  custom_dir: docs/overrides
  language: en
  palette:
    - scheme: "default"
      primary: "light blue"
      accent: "amber"
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: "material/lightbulb"
        name: "Switch to dark mode"
    - scheme: "slate"
      media: "(prefers-color-scheme: dark)"
      primary: "light blue"
      accent: "amber"
      toggle:
        icon: "material/lightbulb-outline"
        name: "Switch to light mode"
  favicon: statics/images/favicon.ico
  logo: statics/images/white.png
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    - content.code.select
    - navigation.indexes
    - navigation.path
    - navigation.tabs

repo_name: dymmond/lilya
repo_url: https://github.com/dymmond/lilya
edit_uri: ""
plugins:
  - search
  - meta-descriptions:
      export_csv: false
      quiet: false
      enable_checks: false
      min_length: 50
      max_length: 160
      trim: false
  - markdownextradata:
      data: data
  - mkdocstrings:
      handlers:
        python:
          options:
            extensions:
              - griffe_typingdoc
            show_root_heading: true
            show_if_no_docstring: true
            preload_modules: [httpx, a2wsgi]
            inherited_members: true
            members_order: source
            separate_signature: true
            unwrap_annotated: true
            filters: ["!^_"]
            merge_init_into_class: true
            docstring_section_style: spacy
            signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true

nav:
  - Introduction: "index.md"
  - Lilya:
      - Applications: "applications.md"
      - Settings: "settings.md"
      - Routing: "routing.md"
      - Controllers: "controllers.md"
      - Requests: "requests.md"
      - Responses: "responses.md"
      - WebSockets: "websockets.md"
      - Context: "context.md"
  - Features:
      - Tasks: "tasks.md"
      - Lifespan: "lifespan.md"
      - Middleware: "middleware.md"
      - Permissions: "permissions.md"
      - Static Files: "static-files.md"
      - Templates: "templates.md"
      - Server Push: "server-push.md"
      - Exceptions & Exception Handlers: "exceptions.md"
      - WSGI Frameworks: "wsgi.md"
  - Clients:
      - Lilya Client:
          - Intro: "lilya-cli.md"
          - Application Discovery: "directives/discovery.md"
          - Directives: "directives/directives.md"
          - Custom Directives: "directives/custom-directives.md"
          - Shell: "directives/shell.md"
      - Test Client: "test-client.md"
  - Deployment:
      - Intro: "deployment/intro.md"
      - Using docker: "deployment/docker.md"
  - API Reference:
      - "references/index.md"
      - Lilya: "references/lilya.md"
      - Settings: "references/settings.md"
  - Contributing: "contributing.md"
  - Sponsorship: "sponsorship.md"
  - Release Notes: "release-notes.md"
markdown_extensions:
  - toc:
      permalink: true
  - mdx_include:
      base_path: docs
  - admonition
  - extra
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight
  - attr_list
  - md_in_html

extra:
  alternate:
    - link: /
      name: English
      lang: en
