---
name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: "Publish release"
    runs-on: "ubuntu-latest"

    steps:
      - uses: "actions/checkout@v4"
      - uses: "actions/setup-python@v5"
        with:
          python-version: "3.10"
      - name: "Install dependencies"
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          pip install click==8.2.2
          pip install hatch
      - name: "Check for security vulnerabilities"
        run: |
          pip install pip-audit
          pip-audit --strict --desc
      - name: "Build package"
        run: "hatch run build_with_check"
      - name: "Publish to PyPI"
        run: "scripts/publish"
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.PYPI_TOKEN }}
      - name: "Deploy docs"
        run: |
          curl -X POST '${{ secrets.DEPLOY_DOCS }}'
