---
name: Test Suite

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "docs/**"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
  schedule:
    - cron: "0 0 * * *"

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: lilya
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:latest
        ports:
          - 6379:6379

    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "${{ matrix.python-version }}"
      - uses: actions/cache@v5
        id: cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-python-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-test-v02
      - name: "Install dependencies"
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          pip install hatch virtualenv==20.39.1
      - name: "Check for security vulnerabilities"
        run: |
          pip install pip-audit
          pip-audit --strict --desc
      - uses: pre-commit/action@v3.0.1
      - name: "Run linting checks"
        run: "hatch fmt --check"
      - name: "Run typing checks"
        if: matrix.python-version != '3.14'  # mypy 1.19.x incomplete Python 3.14 support (github.com/python/mypy/issues/20186)
        run: "hatch run test:check_types"
      - name: "Run tests"
        run: "hatch run test:coverage"
      - name: "Verify docs examples"
        if: matrix.python-version == '3.10'
        run: "hatch run test:verify_docs"
      - name: "Build documentation"
        if: matrix.python-version == '3.10'
        run: "hatch run docs:build"
